<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--Connection Properties-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--Adding serverTimezone=UTC and disabling useLegacyDatetimeCode, which can apparently cause problems when
         server and application timzones differ, might help  ?serverTimezone=UTC&amp;useLegacyDatetimeCode=false-->
        <property name="connection.url">jdbc:mysql://localhost:3306/athena?serverTimezone=UTC&amp;useLegacyDatetimeCode=false</property>
        <property name="connection.user">athena</property>
        <property name="connection.password">ihavesecurityissues</property>

        <!--Hibernate Properties-->
        <property name="show_sql">false</property> <!--Echoes all SQL to stdout-->
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.connection.pool_size">32</property>-->

        <!--Mapping files entries-->
        <mapping class="de.tudarmstadt.informatik.ukp.athena.knowledgebase.database.models.Conference" />
        <mapping class="de.tudarmstadt.informatik.ukp.athena.knowledgebase.database.models.Institution" />
        <mapping class="de.tudarmstadt.informatik.ukp.athena.knowledgebase.database.models.Paper" />
        <mapping class="de.tudarmstadt.informatik.ukp.athena.knowledgebase.database.models.Person" />
        <mapping class="de.tudarmstadt.informatik.ukp.athena.knowledgebase.database.models.Session" />
        <mapping class="de.tudarmstadt.informatik.ukp.athena.knowledgebase.database.models.SessionPart" />
        <mapping class="de.tudarmstadt.informatik.ukp.athena.knowledgebase.database.models.Workshop" />
        <!--<mapping class="/roseindia/Employee" />-->

    </session-factory>
</hibernate-configuration>